.kemicota-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.kemicota-row > * {
  flex-basis: 10rem;
  flex-shrink: 0;
}

.kemicota-row .card {
  display: flex;
  flex-direction: column;
}

.kemicota-row .card > .card-content {
  flex-grow: 1;
}

.kemicota-row .card > .card-image {
  flex-basis: 20rem;
  flex-shrink: 0;
  overflow-y: hidden;
  background-color: black;
}
body {
  margin: 0;
  overflow-x: hidden;
}
